---
import CompromiseCard from "@container/CompromiseCard.astro";
---

<section class="max-w-7xl mx-auto py-16">
  <div class="flex justify-center" data-aos="fade-down">
    <img src="/albania_logo_web.png" alt="Logo Albania Chile Oficial" 
    class="w-32 h-32 md:w-72 md:h-72 animate-wiggle animate-infinite animate-delay-1000 animate-ease-linear animate-normal" />
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 w-full p-16" data-aos="fade-down">

    <CompromiseCard 
      title="¿quienes somos?" 
      description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias excepturi fuga, laudantium molestias nesciunt tempore." 
    />

    <CompromiseCard 
      title="nuestra misión" 
      description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias excepturi fuga, laudantium molestias nesciunt tempore." 
    />

    <CompromiseCard 
      title="nuestra visión" 
      description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias excepturi fuga, laudantium molestias nesciunt tempore." 
    />
  </div>
</section>