<section class="bg-gray-100" >
  <div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:py-4 lg:px-8" data-aos="fade-down">
    <!-- <div class="max-w-2xl lg:max-w-4xl bg-red-500">
      <img src="/albania_logo_web.png" alt="Logo Albania Chile Oficial" class="w-auto h-[50px]" />
    </div> -->
    <div class="mt-16 lg:mt-20">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 md:p-12 w-full p-4">
        
        <div class="p-6 bg-gray-100">
          <h2 class="font-semibold text-lg text-center text-gray-800 mt-2">
            ¿QUIENES SOMOS?
          </h2>
          <p class="mt-2 text-gray-800 text-center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias excepturi fuga, laudantium molestias
            nesciunt tempore.
          </p>
        </div>

        <div class="p-6 bg-gray-100">
          <h2 class="font-semibold text-lg text-center text-gray-800 mt-2">
            NUESTRA MISIÓN
          </h2>
          <p class="mt-2 text-gray-800 text-center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias excepturi fuga, laudantium molestias
            nesciunt tempore.
          </p>
        </div>

        <div class="p-6 bg-gray-100">
          <h2 class="font-semibold text-lg text-center text-gray-800 mt-2">
            NUESTRA VISIÓN
          </h2>
          <p class="mt-2 text-gray-800 text-center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias excepturi fuga, laudantium molestias
            nesciunt tempore.
          </p>
        </div>

      </div>
    </div>
  </div>
</section>