---
import { addresses } from "@constants/address";
import SectionTitle from "@container/SectionTitle.astro";
import Location from "@content/Location.astro";
---

<section class="hidden md:block bg-chalet-green-100">
  <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:py-20 lg:px-8">
    <div class="max-w-2xl lg:max-w-4xl mx-auto text-center" data-aos="fade-down">
      <SectionTitle title="Encuentra tu sucursal" description="Lorem ipsum dolor sit amet consectetur adipisicing elit." />
    </div>

    <div class="w-full mx-auto mt-20" data-aos="fade-down">
      <div class="bg-chalet-green-600 p-2 rounded-t-lg">
        <div class="flex justify-center space-x-4" id="content-buttons">
          {
            addresses.map(({ name, city }) => (
              <button class="px-4 py-2 text-chalet-green-200 font-semibold 
                border-b-4 border-chalet-green-700 hover:bg-chalet-green-700 focus:outline-none tab-button rounded-xl uppercase">
                {city}
              </button>
            ))
          }
        </div>
      </div>
      {
        addresses.map((ad) => (
          <div>
            {ad.id === 1 ? (
              <div class="p-4 tab-content bg-chalet-green-200 shadow-md rounded-b-lg">
                <Location address={ad}/>
              </div>
            ) : (
              <div  class="p-4 tab-content bg-chalet-green-200 shadow-md rounded-b-lg hidden">
                <Location address={ad}/>
              </div>
            )}
          </div>
        ))
      }
    </div>
  </div>
</section>

<script>
  const buttons   = document.querySelectorAll("#content-buttons .tab-button");
  const contents  = document.querySelectorAll(".tab-content");

  buttons.forEach((button, index) => {
    button.addEventListener("click", () => {
      contents.forEach((content) => content.classList.add("hidden")); // Ocultar todos los contenidos
      buttons.forEach((btn) => btn.classList.remove("bg-chalet-green-700")); // Remover estilo activo de todos los botones
      contents[index].classList.remove("hidden"); // Mostrar el contenido correspondiente
      button.classList.add("bg-chalet-green-700"); // Añadir estilo activo al botón actual
    });
  });
</script>
