---
import { products } from "@constants/product";
import ProductContainer from "@container/ProductContainer.astro";
import SectionTitle from "@container/SectionTitle.astro";
---

<div class="max-w-screen-xl mx-auto p-16">
  <div class="max-w-2xl lg:max-w-4xl mx-auto text-center" data-aos="fade-down">
    <SectionTitle title="Nuestros productos" description="Lorem ipsum dolor sit amet consectetur adipisicing elit."/>
  </div>

  <div class="sm:grid lg:grid-cols-4 sm:grid-cols-2 gap-10 mt-20" data-aos="zoom-in">
    {
      products.map((product) => <ProductContainer {product} />)
    }
  </div>
</div>
