<div class="fixed bottom-2 right-2 rounded-lg">
  <button
    id="scroll-to-top"
    aria-label="Volver al inicio de la página"
    class="group flex size-12 cursor-default items-center justify-center rounded-lg border-2 text-primary
    backdrop-blur hover:scale-105 motion-safe:transition border-chalet-green-950"
  >
    <svg
      aria-label="Subir al inicio de la página"
      stroke-width="2"
      stroke="green"
      viewBox="0 0 24 24"
      fill="none"
      class="h-6 w-6 -rotate-45 group-hover:-rotate-90 motion-safe:transition"
      width="20px"
    >
      <path
        d="M14 5l7 7m0 0l-7 7m7-7H3"
        stroke-linejoin="round"
        stroke-linecap="round">
      </path>
    </svg>
  </button>
</div>
<script>
  const button = document.querySelector("#scroll-to-top");
  button?.addEventListener("click", () => {
    window.scrollTo({ top: 0, behavior: "smooth" });
  });
</script>