---
import FooterNavLink from "@container/FooterNavLink.astro";
import FooterSocialMedia from "@container/FooterSocialMedia.astro";
---

<div class="bg-gray-100">
  <div class="max-w-7xl px-4 sm:px-6 text-gray-800 sm:grid md:grid-cols-4 sm:grid-cols-2 mx-auto">
    <div class="p-5">
      <h3 class="font-bold text-xl text-indigo-600">Company Name</h3>
    </div>
    <FooterNavLink />
  </div>
</div>

<div class="bg-gray-100 pt-2">
  <FooterSocialMedia />
</div>