---
import FooterNavLink from "@container/FooterNavLink.astro";
import FooterSocialMedia from "@container/FooterSocialMedia.astro";
---

<div class="bg-chalet-green-950">
  <div class="max-w-7xl px-4 sm:px-6 sm:grid md:grid-cols-4 sm:grid-cols-2 mx-auto">
    <div class="p-5">
      <h3 class="font-bold text-xl text-chalet-green-200">Albania Chile</h3>
    </div>
    <FooterNavLink />
  </div>
</div>

<div class="bg-chalet-green-950 pt-2">
  <FooterSocialMedia />
</div>