---
import SectionTitle from "@container/SectionTitle.astro";
import FAQ from "@content/FAQ.astro";
import HowItWork from "@content/HowItWork.astro";
import Layout from "@layout/Layout.astro";
---

<Layout title="Albania Chile - Preguntas frecuentes.">
  <header class="md:max-w-7xl mx-auto mt-40 mb-20" data-aos="fade-down">
    <SectionTitle title="Guía de usuario" description="Podrás resolver todas tus dudas en está sección." />
  </header>
  
  <section>
    <HowItWork />

    <div class="bg-chalet-green-100">
      <FAQ />
    </div>
  </section>
</Layout>
