---
import { enterprice } from "@constants/enterprice";

const {headquarters} = enterprice;
---
<div class="p-5">
  <div class="text-sm uppercase text-chalet-green-200 font-bold">Recursos</div>
  <a class="my-3 block text-chalet-green-300 hover:text-chalet-green-100" href="/#">Catálogo</a>
  <a class="my-3 block text-chalet-green-300 hover:text-chalet-green-100" href="/#">Mi Carrito</a>
  <a class="my-3 block text-chalet-green-300 hover:text-chalet-green-100 md:hidden" href="/nosotros">Sobre nosotros<span class="text-teal-600 text-xs p-1"></span></a>
  <a class="my-3 block text-chalet-green-300 hover:text-chalet-green-100" href="/#">Ventas por mayor<span class="text-teal-600 text-xs p-1">nuevo*</span></a>
</div>
<div class="p-5">
  <div class="text-sm uppercase text-chalet-green-200 font-bold">Soporte</div>
  <a class="my-3 block text-chalet-green-300 hover:text-chalet-green-100" href="/soporte/preguntas-frecuentes">FAQ</a>
  <a class="my-3 block text-chalet-green-300 hover:text-chalet-green-100" href="/#">Política de privacidad</a>
  <a class="my-3 block text-chalet-green-300 hover:text-chalet-green-100" href="/#">Términos y condiciones</a>
  <a class="my-3 block text-chalet-green-300 hover:text-chalet-green-100 md:hidden" href="/soporte/sucursales">Sucursales<span class="text-teal-600 text-xs p-1"></span></a>
</div>
<div class="p-5">
  <div class="text-sm uppercase text-chalet-green-200 font-bold">Contacto</div>
  <a class="my-3 block text-chalet-green-300">{headquarters.complete}<span class="text-teal-600 text-xs p-1">casa matriz</span></a>
  <a class="my-3 block text-chalet-green-300" href={`mailto:${enterprice.mail}`} target="_blank" rel="noopener noreferrer">{enterprice.mail}</a>
</div>