---
import Facebook from "@icons/Facebook.astro";
import Instagram from "@icons/Instagram.astro";
import TikTok from "@icons/TikTok.astro";
import { enterprice } from "@constants/enterprice";

const ICONS_SOCIAL_MEDIA: Record<string, any> = {
  TikTok,
  Facebook,
  Instagram,
}

const accounts = enterprice.account;
---

<div class="flex pb-5 px-3 m-auto pt-5 md:border-t border-chalet-green-600 text-chalet-green-200 text-sm flex-col max-w-screen-lg items-center">
  <div class="md:flex-auto mt-2 flex-row flex mb-2">
    {
      accounts.map((acc: any) => {
        const Icon = ICONS_SOCIAL_MEDIA[acc.icon];

        return (
          <a 
            href={`${acc.url}`} 
            target="_blank"
            rel="noopener noreferrer"
            title={`${acc.title}`}
            aria-label={`${acc.title}`}>
            <Icon class:list={["w-10 h-10 mr-3 hover:text-chalet-green-100"]}/>
          </a>
        )
      })
    }
  </div>
  <div>© 
    <span class="text-chalet-green-400 font-bold">Albania Chile</span> 
    {new Date().getFullYear()}. Todos los derechos reservados.
  </div>
</div>
