<section class="animate-fade-up flex justify-center items-center gap-8 flex-col aspect-[343/350] md:aspect-[343/160] 2xl:aspect-[343/260]">
  <h1 
  class="flex items-center gap-5 text-4xl md:text-6xl lg:gap-20 lg:text-8xl text-[#ffffff] animate-pulse animate-infinite animate-delay-2000 animate-ease-linear">
    ALBANIA CHILE
  </h1>
  <p class="text-xl lg:text-2xl text-center text-pretty text-[#ffffff] hidden md:block" transition:animate="slide">
    Tienda de ropa reciclada y reutilizada, promoviendo la moda sostenible y el cuidado del medio ambiente
  </p>
</section>