<div class="max-w-7xl mx-auto" data-aos="fade-down">

  <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-6 w-full p-8 md:p-16">
    <div class="max-w-6xl">
      <h2 class="text-3xl font-extrabold text-gray-900 sm:text-4xl">
        ¿Quiénes somos?
      </h2>
      <p class="mt-4 text-gray-600 text-lg">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis
        eros at lacus feugiat hendrerit sed ut tortor. Suspendisse et
        magna quis elit efficitur consequat. Mauris eleifend velit a
        pretium iaculis. Donec sagittis velit et magna euismod, vel
        aliquet nulla malesuada. Nunc pharetra massa lectus, a fermentum
        arcu volutpat vel.
      </p>
    </div>
    <div class="mt-12 md:mt-0">
      <img
        src="https://images.unsplash.com/photo-1531973576160-7125cd663d86"
        alt="About Us Image"
        class="object-cover rounded-lg shadow-md"
      />
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-6 w-full p-8 md:p-16">
    <div class="max-w-6xl">
      <h2 class="text-3xl font-extrabold text-gray-900 sm:text-4xl">
        ¿Quiénes somos?
      </h2>
      <p class="mt-4 text-gray-600 text-lg">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis
        eros at lacus feugiat hendrerit sed ut tortor. Suspendisse et
        magna quis elit efficitur consequat. Mauris eleifend velit a
        pretium iaculis. Donec sagittis velit et magna euismod, vel
        aliquet nulla malesuada. Nunc pharetra massa lectus, a fermentum
        arcu volutpat vel.
      </p>
    </div>
    <div class="mt-12 md:mt-0">
      <img
        src="https://images.unsplash.com/photo-1531973576160-7125cd663d86"
        alt="About Us Image"
        class="object-cover rounded-lg shadow-md"
      />
    </div>
  </div>
</div>