---
import Layout from '@layout/Layout.astro';
---

<Layout title='Albania Chile - Tienda de ropa reciclada y reutilizada.'>
  <div>
    <div class="flex items-center justify-center min-h-screen px-2">
      <div class="text-center">
        <h1 class="text-9xl font-bold text-chalet-green-900">404</h1>
        <p class="text-2xl font-medium mt-4 text-chalet-green-800">¡Oops! Página no encontrada</p>
        <p class="mt-4 text-chalet-green-700">Lo sentimos, pero la página que buscas no existe.</p>
        <p class="mb-8 text-chalet-green-700">Verifica la dirección ingresada e intenta nuevamente o</p>
        <a href="/"
          class="px-6 py-3 bg-white rounded-full hover:bg-purple-100 transition duration-300 ease-in-out dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white">
          Volver al inicio
        </a>
      </div>
    </div>
  </div>
</Layout>