---
import { addresses } from "@constants/address";
import LocationContent from "@content/LocationContent.astro";
import Layout from "@layout/Layout.astro";
---

<Layout title='Albania Chile - Encuentra tu sucursal.'>
  <section>
    <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:py-20 lg:px-8">

      <div class="max-w-2xl lg:max-w-4xl mx-auto text-center">
        <h2 class="text-3xl font-extrabold text-gray-900">Visit Our Location</h2>
        <p class="mt-4 text-lg text-gray-500">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>

      <div class="w-full mx-auto mt-20">

        <div class="bg-blue-500 p-2">
          <div id="content-buttons">
            <select id="content-select" class="w-full p-2 rounded-t-lg">
              {
                addresses.map(({ id, city }) => (
                  <option value={id} class="tab-button">{city}</option>
                ))
              }
            </select>
          </div>
        </div>
        {
          addresses.map((ad) => (
            <div>
              {ad.id === 1 ? (
                <div class="p-4 tab-content bg-white shadow-md rounded-lg">
                  <LocationContent address={ad}/>
                </div>
              ) : (
                <div  class="p-4 tab-content bg-white shadow-md rounded-lg hidden">
                  <LocationContent address={ad}/>
                </div>
              )}
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Layout>

<script>
  const select = document.querySelector("#content-select") as HTMLSelectElement;
  const contents = document.querySelectorAll(".tab-content");

  select?.addEventListener('change', () => {
    const selected = parseInt(select.value)-1;
    // console.log(selected);
    contents.forEach((content) => {
      contents.forEach((content) => content.classList.add("hidden"));
      contents[selected].classList.remove("hidden");
    })
  })
</script>