---
import { addresses } from "@constants/address";
import SectionTitle from "@container/SectionTitle.astro";
import LocationContent from "@content/LocationContent.astro";
import Layout from "@layout/Layout.astro";
---

<Layout title='Albania Chile - Encuentra tu sucursal.'>
  <header class="md:max-w-7xl max-w-4xl mx-auto mt-40 mb-10" data-aos="fade-down">
    <SectionTitle title="Encuentra tu sucursal" description="Lorem ipsum dolor sit amet consectetur adipisicing elit." />
  </header>
  <section class="max-w-7xl mx-auto px-4 mb-10">
    <div class="w-full mx-auto">

      <div class="bg-chalet-green-600 p-2">
        <div id="content-buttons">
          <select id="content-select" class="w-full p-2 rounded-t-lg bg-chalet-green-300">
            {
              addresses.map(({ id, city }) => (
                <option value={id} class="tab-button">{city}</option>
              ))
            }
          </select>
        </div>
      </div>
      {
        addresses.map((ad) => (
          <div>
            {ad.id === 1 ? (
              <div class="p-4 tab-content bg-chalet-green-200 shadow-md rounded-lg">
                <LocationContent address={ad}/>
              </div>
            ) : (
              <div  class="p-4 tab-content bg-chalet-green-200 shadow-md rounded-lg hidden">
                <LocationContent address={ad}/>
              </div>
            )}
          </div>
        ))
      }
    </div>
  </section>
</Layout>

<script>
  const select = document.querySelector("#content-select") as HTMLSelectElement;
  const contents = document.querySelectorAll(".tab-content");

  select?.addEventListener('change', () => {
    const selected = parseInt(select.value)-1;
    // console.log(selected);
    contents.forEach((content) => {
      contents.forEach((content) => content.classList.add("hidden"));
      contents[selected].classList.remove("hidden");
    })
  })
</script>