---
import Footer from "@shared/Footer.astro";
import Navbar from "@shared/Navbar.astro";
import '@fontsource-variable/sora';
import ButtonUp from "@shared/ButtonUp.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Tienda de ropa reciclada y retorno." />
		<link rel="icon" type="image/svg+xml" href="/albania_logo_web.ico" />
		<title>{title}</title>
	</head>
	<body>
		<Navbar />
		<main>
			<slot />
		</main>
		<Footer />
		<ButtonUp />
	</body>
</html>

<style>
	html, 
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: 'Sora Variable', sans-serif;
	}
</style>
<script>
  import AOS from 'aos';
	import 'aos/dist/aos.css'; // You can also use <link> for styles
	// ..
	AOS.init({
		duration: 1200,
	});
</script>
