---
import Footer from "@shared/Footer.astro";
import Navbar from "@shared/Navbar.astro";
import '@fontsource-variable/sora';
import ButtonUp from "@shared/ButtonUp.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Tienda de ropa reciclada y retorno." />
		<link rel="icon" type="image/svg+xml" href="/albania_logo_web.ico" />
		<title>{title}</title>
	</head>
	<body>
		<Navbar />
		<main>
			<slot />
		</main>
		<Footer />
		<ButtonUp />
	</body>
</html>

<style is:global>
	html, 
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: 'Sora Variable', sans-serif;
		background-color: #f6f8ed;
	}

	#header-nav {
		animation: blur linear both;
		animation-timeline: scroll();
		animation-range: 0 500px;
	}

	@keyframes blur {
		to {
			box-shadow:
				0px 5px 50px -5px rgba(80,7,38, 0.1),
				0px 0px 0 1px rgba(80,7,38, 0.3);
			background: rgba(80,7,38, 0.3);
			backdrop-filter: blur(10px);
		}
	}

	@supports selector(::-webkit-scrollbar) {
		@media (hover: hover) {
			::-webkit-scrollbar {
				width: 15px;
				border-radius: 15px;
			}

			::-webkit-scrollbar-thumb {
				border-radius: 10px;
				background-color: #f6f8ed;
				background-color: #637d33;
				background-clip: content-box;
			}

			::-webkit-scrollbar-thumb:active {
				background-color: #9eb962;
			}

			::-webkit-scrollbar-track {
				background: #f6f8ed;
			}

			::-webkit-scrollbar-corner {
				background: #f6f8ed;
			}
		}
	}
</style>
<script>
  import AOS from 'aos';
	import 'aos/dist/aos.css'; // You can also use <link> for styles
	// ..
	AOS.init({
		duration: 1200,
	});
</script>
