---
import SectionTitle from "@container/SectionTitle.astro";
import Layout from "@layout/Layout.astro";
import ShoppingCart from "@util/ShoppingCart";
import ShoppingSummary from "@util/ShoppingSummary";
---

<Layout title="Albania Chile - Tienda de ropa reciclada y reutilizada.">
  <header class="md:max-w-7xl max-w-4xl mx-auto mt-40 mb-20" data-aos="fade-down">
    <SectionTitle title="Mi carrito" description="Revisa tus productos seleccionados y finaliza tu compra fácilmente."/>
  </header>
  <section>
    <div class="max-w-7xl mx-auto p-4" data-aos="fade-down">
      <div class="container mx-auto p-4 bg-chalet-green-500 rounded-xl">
        <div class="sm:flex my-10">
          <ShoppingCart client:load />
          <ShoppingSummary client:load />
        </div>
      </div>
    </div>
  </section>
</Layout>
